.PostWrite body {font-family: Arial, Helvetica, sans-serif;}
  * {box-sizing: border-box}

.PostWrite input[type=text], .PostWrite input[type=password], .PostWrite textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

.PostWrite input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

.PostWrite hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.PostWrite button {
  background-color: #fc9309;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.PostWrite button:hover {
  opacity:1;
}

.PostWrite .cancelbtn {
  padding: 14px 20px;
  background-color: #fa2323;
}

.PostWrite .cancelbtn, .PostWrite .signupbtn {
  float: left;
  width: 50%;
}

.PostWrite .container {
  padding: 16px;
}

.PostWrite .clearfix::after {
  content: "";
  clear: both;
  display: table;
}

@media screen and (max-width: 300px) {
  .PostWrite .signupbtn, .PostWrite .cancelbtn {
    width: 100%;
  }
}